SMTP_HOST='{{ smtp_host }}'
SMTP_PORT='{{ smtp_port }}'
SMTP_USERNAME='{{ smtp_username }}'
SMTP_PASSWORD='{{ smtp_password }}'
SMTP_SENDER='{{ smtp_sender }}'
RECIPIENT='{{ tunnel_monitor_recipient }}'
VPS_HOST='{{ vps_host }}'
VPS_SSH_PORT='{{ vps_ssh_port | default(22) }}'
CHECK_HOST='{{ headscale.subdomain }}.{{ domain }}'
DOWN_THRESHOLD_MIN='{{ tunnel_monitor_down_threshold_min }}'
REALERT_HOURS='{{ tunnel_monitor_realert_hours }}'
