if (!localStorage.getItem("headscaleURL")) {
    localStorage.setItem("headscaleURL", "https://{{ headscale.subdomain }}.{{ domain }}");
}
if (!localStorage.getItem("headscaleAPIKey")) {
    localStorage.setItem("headscaleAPIKey", "{{ headscale_api_key }}");
}
if (!localStorage.getItem("headscaleTheme")) {
    localStorage.setItem("headscaleTheme", "dark");
}
